.changepictur{
    font-size: 10px;
    width: 100%;
    height: 30px;
    line-height: 32px;
}

.btn-green {
    color: #fff;
    background-color: #91c919 !important;
    border-color: #91c919 !important;
    &:hover{
        background-color: #6a9806 !important;
    }
}


