.float-right{
  float: right;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.8rem + 2px);
}

// .modal-lg {
//     max-width: 80% !important;
// }

.status {
    width: 100%;
    display: inline-block;
}
.full-data-show-entry {
    width: 75px;
    display: inline-block;
}

.full-data-search {
    display: inline-block;
    width: auto!important;
}

.form-control {
    font-size: 13px;
    border-radius: 2px;
}



.imgTable1 {
    width: 39px;
    height: 39px;
}