<app-spinner *ngIf="spinner == true"></app-spinner>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <h5 class="float1">Threshold List</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
            <!-- <ng2-smart-table [settings]="settings" [source]="digital_list"></ng2-smart-table>-->
            <div class="table-content crm-table">
              <div class="project-table">
                <div id="crm-contact" class="dt-responsive">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                      <div>
                        <label class="label-control">Show
                          <select class="form-control input-sm full-data-show-entry"
                            (change)="onChange($event.target.value)">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                          </select>
                          entries
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div style="text-align: right;">
                        <label>Search:
                          <input type="search" [(ngModel)]="searchText" autocomplete="off"
                            class="form-control input-sm full-data-search" placeholder="search by any">
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="panel-heading">User information</div>-->
                  <div>
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered full-data-table">
                        <!-- [mfData]="data | dataFilter: {productName: filterQuery, categoryName: filterQuery, totalStock: filterQuery, discountAmount: filterQuery, netWeight: filterQuery, isActive: filterQuery}" #mf="mfDataTable"
              [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> -->
                        <thead>
                          <tr>
                            <th>
                              <!-- <mfDefaultSorter by="image"> -->
                              Image <i (click)="sort('productImage')" class="fa fa-sort" aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                            <th>
                              <!-- <mfDefaultSorter by="productName"> -->
                              Product name <i (click)="sort('productImage')" class="fa fa-sort" aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                            <th>
                              <!-- <mfDefaultSorter by="actualAmount"> -->
                              Actual amount <i (click)="sort('productImage')" class="fa fa-sort" aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                            <th>
                              <!-- <mfDefaultSorter by="discountAmount"> -->
                              Discount amount <i (click)="sort('productImage')" class="fa fa-sort"
                                aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                            <th>
                              <!-- <mfDefaultSorter by="categoryName"> -->
                              Category name <i (click)="sort('productImage')" class="fa fa-sort" aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                            <th>
                              <!-- <mfDefaultSorter by="netWeight"> -->
                              Net weight <i (click)="sort('productImage')" class="fa fa-sort" aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                            <th>
                              <!-- <mfDefaultSorter by="totalStock"> -->
                              Total stock <i (click)="sort('productImage')" class="fa fa-sort" aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                            <th>
                              <!-- <mfDefaultSorter by="IsActive"> -->
                              Status <i (click)="sort('productImage')" class="fa fa-sort" aria-hidden="true"></i>
                              <!-- </mfDefaultSorter> -->
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let product of data | paginate: { itemsPerPage: pageno, currentPage: q } | filter: searchText | orderBy: key: !reverse">
                            <td><img src="{{product.productImage}}" class='imgTable1'></td>
                            <td>{{product.productName}}</td>
                            <td>₹ {{product.actualAmount}}</td>
                            <td>₹ {{product.discountAmount}}</td>
                            <td>{{product.categoryName}}</td>
                            <td>{{product.netWeight}}{{product.measurementName}}</td>
                            <td>{{product.totalStock}}</td>
                            <td *ngIf="product.isActive == true">Active</td>
                            <td *ngIf="product.isActive == false">InActive</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="10" *ngIf="!data?.length">
                              <!-- <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator> -->
                              <div class="no-records">
                                No records found!...
                              </div>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                      <!-- <div class="card-footer"> -->
                        <pagination-controls style="float: right" class="my-pagination"
                        (pageChange)="onPageChange($event)"></pagination-controls>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>