<!-- add discount list -->
<div class="container-fluid" *ngIf="Editfran == false && Addfran == false">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-9">
                    <h5 class="float1">Category</h5>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-secondary f-right" (click)="add()">Add Category</button>
                </div>
            </div>
        </div>
        <div class="card-body">


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                        <label class="label-control">Show
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                              </select>
      entries
    </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                        <label>Search:
       <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="search by any">
    </label>
                    </div>
                </div>
            </div>

            <div class="table-content crm-table">
                <div class="project-table">
                    <div id="crm-contact" class="dt-responsive">

                        <div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered full-data-table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">
                                                Image

                                            </th>
                                            <th style="text-align: center;">
                                                category Name
                                            </th>

                                            <!-- <th>
                                                State
                                            </th>
                                            <th>
                                                District
                                            </th> -->
                                            <th style="text-align: center;">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cate of categoriees">
                                            <td style="text-align: center;"><img src="{{cate.categoryImage}}" class='imgTable1'></td>

                                            <td style="text-align: center;">{{cate.categoryName}}</td>

                                            <td class="action-icon" style="text-align: center;">
                                                <a href="javascript:;" class="m-r-15 crm-action-edit text-muted text-primary"><i
                                  class="icofont icofont-ui-edit" data-toggle="modal" data-original-title="test"
                                  data-target="#exampleModal"  (click)="edit(cate)"></i></a>
                                                <a href="javascript:;" class="crm-action-delete text-muted text-danger"><i
                                  class="icofont icofont-delete-alt" (click)="delete(cate.masterCategoriesId)" ></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <!-- <td colspan="10">
                                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                                <div *ngIf="!data?.length" class="no-records">
                                                    No records found!...
                                                </div>
                                            </td> -->
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="Addfran == true">
    
    <div class="card">
        <div class="card-header">
            <h5>Add Category</h5>
        </div>
    <form [formGroup]="addCatagory" (ngSubmit)="onSubmit()">
        <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Category name</label>
                    <div class="col-sm-4">
                        <input type="text" formControlName="cateName" class="form-control" [(ngModel)]="categoryName" placeholder="Category name" style="margin-left: -12%;     width: 55%;
                            " [ngClass]="{ 'is-invalid': submitted && f.cateName.errors }" pattern="[a-zA-Z ]*">

                        <div *ngIf="submitted && f.cateName.errors" class="invalid-feedback">
                            <div *ngIf="f.cateName.errors.required">Franchise Name is required</div>
                            <div *ngIf="f.cateName.errors.pattern">numarics is not valid</div>
                        </div>


                    </div>
                    <label class="col-sm-2 col-form-label">Category image</label>
                    <div class="col-sm-4">
                        <button     type="button" class="btn
                        btn-success" (click)="file.click()" title="click To Upload Image"
                        >Upload Image</button>
                        <input formControlName="cateImage" type="file" #file placeholder="Choose
                        file" (change)="uploadFile(file.files)" style="display: none;"
                        [ngClass]="{ 'is-invalid': submitted && f.cateImage.errors }"
                        >

                        

                    </div>
        s            <div *ngIf="submitted && f.cateImage.errors" class="invalid-feedback">
                        <div *ngIf="f.cateImage.errors.required">attach file</div>
                    </div>
                </div>




        </div>





            <div class="text-right">
                <button type="submit" class="btn btn-btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click)="onsubmit(addCate)">Save</button>
                <button type="button" class="btn btn-btn btn-danger waves-effect m-r-20 f-w-600 d-inline-block" (click)="cancel()">Cancel</button>
            </div>
            

    </form>
</div>













<!-- edit -->
<div class="container-fluid" *ngIf="Editfran == true">

   
    <div class="card">
        <div class="card-header">
            <h5>Add Category</h5>
        </div>
    <form [formGroup]="addCatagory" (ngSubmit)="onSubmit()">
        <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Category name</label>
                    <div class="col-sm-4">
                        <input type="text" formControlName="cateName" class="form-control" [(ngModel)]="editcate.categoryName" placeholder="Category name" style="margin-left: -12%;     width: 55%;
                            " [ngClass]="{ 'is-invalid': submitted && f.cateName.errors }" pattern="[a-zA-Z ]*">

                        <div *ngIf="submitted && f.cateName.errors" class="invalid-feedback">
                            <div *ngIf="f.cateName.errors.required">Franchise Name is required</div>
                            <div *ngIf="f.cateName.errors.pattern">numarics is not valid</div>
                        </div>


                    </div>
                    <label class="col-sm-2 col-form-label">Category image</label>
                    <div class="col-sm-4">
                        <button     type="button" class="btn
                        btn-success" (click)="file.click()" title="click To Upload Image"
                        >Upload Image</button>
                        <input formControlName="cateImage" type="file" #file placeholder="Choose
                        file" (change)="uploadFile(file.files)" style="display: none;"
                        [ngClass]="{ 'is-invalid': submitted && f.cateImage.errors }"
                        >

                        

                    </div>
                    <div *ngIf="submitted && f.cateImage.errors" class="invalid-feedback">
                        <div *ngIf="f.cateImage.errors.required">attach file</div>
                    </div>
                </div>
        </div>









            <div class="text-right">
                <button type="submit" class="btn btn-btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click)="onsubmit(addCate)">Save</button>
                <button type="button" class="btn btn-btn btn-danger waves-effect m-r-20 f-w-600 d-inline-block" (click)="cancel()">Cancel</button>
            </div>
    </form>
        </div>
 





</div>



</div>


<!--edit  -->