<!-- add discount list -->
<div class="container-fluid" *ngIf="addproduct == true">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="float1">Push Notification</h5>
                </div>

                <div class="col-sm-2">
                    <div [hidden]="!chekUserType()">
                        <select class="status form-control" (change)="onChangeFran($event.target.value)">
                            <option value="" selected>Select Franchaise</option>
                            <option *ngFor="let  fran of  franchise" value={{fran.franchaseId}}>{{fran.franchaseName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="notificationaddForm" (ngSubmit)="AddNotification(addNotification)">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Notification Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" [(ngModel)]="addNotification.header"
                                    placeholder="Notification Name" formControlName="header">
                            </div>
                            <label class="col-sm-2 col-form-label">Scheduled Date And Time</label>
                            <div class="col-sm-4">
                                <input type="datetime-local" class="form-control" formControlName="date"
                                    [ngModel]="filterDateFrom | date:'yyyy-MM-ddTHH:mm'"
                                    (ngModelChange)="filterDateFrom = dateChanged($event)" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" [(ngModel)]="addNotification.body"
                                    placeholder="Description" formControlName="body"></textarea>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-btn btn-primary
                                waves-effect m-r-20 f-w-600 d-inline-block"
                                [disabled]="notificationaddForm.invalid">Send Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>