.float1 {
    float: left;
}

.error {
    color: #da2339;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.8rem + 2px);
}

.full-data-show-entry {
    width: 75px;
    display: inline-block;
}

.full-data-search {
    display: inline-block;
    width: auto !important;
}

.form-control {
    font-size: 13px;
    border-radius: 2px;
}

.imgTable1 {
    width: 39px;
    height: 39px;
}

.invalid-feedback1 {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #ff8084;
}

// .form-control[_ngcontent-serverApp-c7] {
// font-size: 13px;
// border-radius: 2px;
// width: 60%;
// }
// .filter-select-list {
// padding: 5px;
// }